################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

v16
.vs
bin
obj
*_log.txt
*.bak
packages
/FrontEnd/rms-angular/src/app/pages/ticket-sales
/Middleware/SPL.ID4/libman.json
/FrontEnd/rms-angular/junit
/FrontEnd/TestAgent/oauth-client/node_modules
/API/SPL.RMS/Logs
/RMSUI.Test/Reports_*
